<html>
<!-- This is the template file. Any code written here will automatically be carried onto the files that extend from this file(eg: home.html, account.html) -->

<head>
    <link rel="stylesheet" href="../static/style.css">
    <title>Python Website Demo</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div>
        <center>
            <h1 style="font-family:verdana;">FICC Trade Challenge</h1>
            <!-- <p>Note how these are defined under templates/template.html and dont need to be repeted on each and every
                page</p> -->
        </center>

    </div>


    <div class="container">
        <h3 style="color: black"> Market Data Producer</h3>
    </div>
    <div class="container">

        <div class="table-container">
            <table id="data-table1">
                <thead>
                    <tr>
                        <th>Event ID </th>
                        <th>Event Type </th>
                        <th>Currency </th>
                        <th>Rate </th>

                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <table id="data-table2">
                <thead>
                    <tr>
                        <th>Event ID </th>
                        <th>Event Type </th>
                        <th>m </th>
                        <th>b </th>
                        <th>Divisor Ratio </th>
                        <th>Spread </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <!-- <div style="width:25%">
                <canvas id="rate-chart"></canvas>
            </div> -->


        </div>

        <!-- <script>
            fetch("./static/sample_events.json")
                .then(response => response.json())
                .then(data => {
                    // Filter the data to get only FxMidEvent events with Ccy = "GBX"
                    const fxEvents = data.filter(item => item.EventType === "FxMidEvent" && item.Ccy === "GBX");

                    // Extract the Event IDs and Rates into separate arrays
                    const eventIds = fxEvents.map(item => item.EventId);
                    const rates = fxEvents.map(item => item.rate[0].rate); // extract the first rate value for each event

                    // Create a new chart using Chart.js
                    const ctx = document.getElementById("rate-chart").getContext("2d");
                    const chart = new Chart(ctx, {
                        type: "bar",
                        data: {
                            labels: eventIds,
                            datasets: [{
                                label: "Rates",
                                data: rates,
                                backgroundColor: "rgba(255, 99, 132, 0.2)",
                                borderColor: "rgba(255, 99, 132, 1)",
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                })
                .catch(error => console.error(error));
        </script> -->

        <script>
            fetch("./static/sample_events.json")
                .then(response => response.json())
                .then(data => {
                    const tableBody1 = document.querySelector("#data-table1 tbody");
                    const tableBody2 = document.querySelector("#data-table2 tbody");

                    data.filter(item => item.EventType === "FXMidEvent")
                        .forEach((item, index) => {
                            setTimeout(() => {
                                const row = document.createElement("tr");
                                row.innerHTML = `
                                    <td>${item.EventId}</td>
                                    <td>${item.EventType}</td>
                                    <td>${item.Ccy}</td>
                                    <td>${item.rate}</td>
                                `;
                                tableBody1.appendChild(row);
                            }, index * 1000); // delay 1 second between each row

                        });

                    data.filter(item => item.EventType === "ConfigEvent")
                        .forEach((item, index) => {
                            setTimeout(() => {
                                const row = document.createElement("tr");
                                row.innerHTML = `
                                    <td>${item.EventId}</td>
                                    <td>${item.EventType}</td>
                                    <td>${item.m}</td>
                                    <td>${item.b}</td>
                                    <td>${item.DivisorRatio}</td>
                                    <td>${item.Spread}</td>
                                `;
                                tableBody2.appendChild(row);
                            }, index * 1000); // delay 1 second between each row

                        });
                })
                .catch(error => console.error(error));
        </script>


    </div>

    <div class="container" style="margin-top: 30px">
        <h3> Trade Event Data Producer</h3>
    </div>

    <div class="container">

        <!-- <p>This is a paragraph of text inside a container.</p> -->

        <div class="table-container">
            <table id="data-table3">
                <thead>
                    <tr>
                        <th>Event ID </th>
                        <th>Event Type </th>
                        <th>Buy/Sell </th>
                        <th>Currency </th>
                        <th>Tenor </th>
                        <th>Quantity </th>
                        <th>Trade ID </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>

        <script>
            fetch("./static/sample_events.json")
                .then(response => response.json())
                .then(data => {
                    const tableBody3 = document.querySelector("#data-table3 tbody");

                    data.filter(item => item.EventType === "TradeEvent")
                        .forEach((item, index) => {
                            setTimeout(() => {
                                const row = document.createElement("tr");
                                row.innerHTML = `
                                    <td>${item.EventId}</td>
                                    <td>${item.EventType}</td>
                                    <td>${item.BuySell}</td>
                                    <td>${item.Ccy}</td>
                                    <td>${item.Tenor}</td>
                                    <td>${item.Quantity}</td>
                                    <td>${item.TradeId}</td>
                                `;
                                tableBody3.appendChild(row);
                            }, 1000 * index); // add a delay of 1 second (1000 milliseconds) for each row
                        });
                })
                .catch(error => console.error(error));
        </script>
    </div>
</body>

</html>