<html>
<!-- This is the template file. Any code written here will automatically be carried onto the files that extend from this file(eg: home.html, account.html) -->

<head>
    <link rel="stylesheet" href="../static/style.css">
    <title>Python Website Demo</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div>
        <center>
            <h1 style="font-family:verdana;">FICC Trade Challenge</h1>
        </center>
    </div>

  <!-- Market Data Producer Component -->
    <div class="container">
        <h3 style="color: black"> Market Data Producer</h3>
    </div>
    <div class="container">

        <div class="table-container">
            <table id="data-table1">
                <thead>
                    <tr>
                        <th>Event ID </th>
                        <th>Event Type </th>
                        <th>Currency </th>
                        <th>Rate </th>

                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <table id="data-table2">
                <thead>
                    <tr>
                        <th>Event ID </th>
                        <th>Event Type </th>
                        <th>m </th>
                        <th>b </th>
                        <th>Divisor Ratio </th>
                        <th>Spread </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <!-- Fetch data related to the FXMidEvent and ConfigEvent  -->
        <script>
            fetch("./static/events.json")
                .then(response => response.json())
                .then(data => {
                    const tableBody1 = document.querySelector("#data-table1 tbody");
                    const tableBody2 = document.querySelector("#data-table2 tbody");

                    data.filter(item => item.EventType === "FXMidEvent")
                        .forEach((item, index) => {
                            setTimeout(() => {
                                const row = document.createElement("tr");
                                row.innerHTML = `
                                    <td>${item.EventId}</td>
                                    <td>${item.EventType}</td>
                                    <td>${item.Ccy}</td>
                                    <td>${item.rate}</td>
                                `;
                                tableBody1.appendChild(row);
                            }, index * 2000); // delay 1 second between each row

                        });

                    data.filter(item => item.EventType === "ConfigEvent")
                        .forEach((item, index) => {
                            setTimeout(() => {
                                const row = document.createElement("tr");
                                row.innerHTML = `
                                    <td>${item.EventId}</td>
                                    <td>${item.EventType}</td>
                                    <td>${item.m}</td>
                                    <td>${item.b}</td>
                                    <td>${item.DivisorRatio}</td>
                                    <td>${item.Spread}</td>
                                `;
                                tableBody2.appendChild(row);
                            }, index * 1000); // delay 1 second between each row

                        });
                })
                .catch(error => console.error(error));
        </script>


    </div>

    <!-- Trade Event Data Producer Component -->
    <div class="container" style="margin-top: 30px">
        <h3> Trade Event Data Producer</h3>
    </div>

    <div class="container">

        <div class="table-container">
            <table id="data-table3">
                <thead>
                    <tr>
                        <th>Event ID </th>
                        <th>Event Type </th>
                        <th>Buy/Sell </th>
                        <th>Currency </th>
                        <th>Tenor </th>
                        <th>Quantity </th>
                        <th>Trade ID </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        
        <!-- Fetch data related to the TradeEvent -->
        <script>
            fetch("./static/events.json")
                .then(response => response.json())
                .then(data => {
                    const tableBody3 = document.querySelector("#data-table3 tbody");

                    data.filter(item => item.EventType === "TradeEvent")
                        .forEach((item, index) => {
                            setTimeout(() => {
                                const row = document.createElement("tr");
                                row.innerHTML = `
                                    <td>${item.EventId}</td>
                                    <td>${item.EventType}</td>
                                    <td>${item.BuySell}</td>
                                    <td>${item.Ccy}</td>
                                    <td>${item.Tenor}</td>
                                    <td>${item.Quantity}</td>
                                    <td>${item.TradeId}</td>
                                `;
                                tableBody3.appendChild(row);
                            }, 2000 * index); // add a delay of 1 second (1000 milliseconds) for each row
                        });
                })
                .catch(error => console.error(error));
        </script>
    </div>

    <!-- Pricing Engine Component -->
    <div class="container" style="margin-top: 30px">
        <h3> Pricing Engine </h3>
    </div>

    <div class="container">
        <div class="table-container">
            <table id="data-table4">
                <thead>
                    <tr>
                        <th>Event ID </th>
                        <th>Currency </th>
                        <th>Tenor </th>
                        <th>Position </th>
                        <th>Bid </th>
                        <th>Ask </th>
                        <th>Quote Status </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>

        <!-- Fetch data related to the output result after calculation  -->
        <script>
            fetch("./static/sample_output.json")
                .then(response => response.json())
                .then(data => {
                    const tableBody4 = document.querySelector("#data-table4 tbody");

                    data.forEach((item, index) => {
                        setTimeout(() => {
                            const row = document.createElement("tr");
                            // Add CSS rules to colour each row according to the quote status
                            switch (item.QuoteStatus) {
                                case "EXCEPTION":
                                    row.classList.add("exception-row");
                                    break;
                                case "TRADABLE":
                                    row.classList.add("tradable-row");
                                    break;
                                case "NON-TRADABLE":
                                    row.classList.add("non-tradable-row");
                                    break;
                                default:
                                    break;
                            }

                            row.innerHTML = `
                                    <td>${item.EventId}</td>
                                    <td>${item.Ccy}</td>
                                    <td>${item.Tenor}</td>
                                    <td>${item.Position}</td>
                                    <td>${item.Bid}</td>
                                    <td>${item.Ask}</td>
                                    <td>${item.QuoteStatus}</td>
                                `;
                            tableBody4.appendChild(row);
                        },  index * 2000); // add a delay of 1 second (1000 milliseconds) for each row
                    });
                })
                .catch(error => console.error(error));
        </script>
    </div>

</body>

</html>